<!DOCTYPE html>
<html>
  <head>
    <title>Auto-Schedule</title>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway"/>
    <link rel="stylesheet" type="text/css" media="all" href="static/my.css" />
  </head>
  <body>
    <h1>Auto-Schedule</h1>

    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="about">About/Instructions</a></li>
      </ul>
    </nav>

    <br><br><br>
    <p align="left" class="description">Here are some instructions on how to use
       Auto-Schedule:</p>
    <br>
    <p align="left" class="description">1) Log onto WebReg. WebReg can be
      accesed by going to <a href="https://students.ucsd.edu/my-tritonlink/tools/">
        https://students.ucsd.edu/my-tritonlink/tools/</a>, scrolling down and
        clicking on the WebReg link underneath the header "Classes & enrollment
        tools"</p>
    <img src="static/step1.jpg" alt="step1">
    <p align="left" class="description">2) Use your Student ID/username and your
      UCSD password to login to WebReg. Make sure that you authenticate with
      Duo.</p>
    <img src="static/step2-1.jpg" alt="step2-1">
    <img src="static/step2-2.jpg" alt="step2-2">
    <p align="left" class="description">3) Click the drop-down menu, select the
      quarter that your schedule is in, and click go.</p>
    <img src="static/step3.jpg" alt="step3">
    <p align="left" class="description">4) Take a screenshot of WebReg so that it only shows the blue boxes which displays the schedule </p>
    <img src = "static/example.png" alt = "step4">
    <p align="left" class="description">5) Now go back to the home page of this
      site. Upload the screenshot onto the site, and
      submit the form.</p>
    <p align="left" class="description">6) You may get a notification from
      Google saying that this application may not be safe. In this case, click
      "Advanced" and edit the settings in order to allow our application to
      send the data to your Google Calendar.</p>
    <p align="left" class="description">Congratulations! Your schedule has
      successfully been loaded onto Google Calendar. Check it out!</p>

  </body>
<html>
